html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1201px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 110px;
  align-items: flex-end;
}

.site-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #95e1d3;
  text-decoration: none;
}

.main-nav-list {
  display: flex;
  list-style: none;
  width: 491px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-nav-list-item a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #95e1d3;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  transition: color 200ms linear;
}

/*  HOVER AND FOCUS*/
.main-nav-list-item a:hover::after,
.main-nav-list-item a:focus::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #f38181;
  display: block;
  position: absolute;
  margin-top: 10px;
}

.main-nav-list-item a:hover,
.main-nav-list-item a:focus  {
  color: #fce38a;
}

.sevices-pre-title, .team-pre-title {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 0;
}

h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  display: block;
  margin-left: 570px;
  margin-top: 40px;
}

/* ICONS */
.services-list-item::before {
  content: "";
  display: inline-block;
  height: 31px;
  width: 32px;
  background-repeat: no-repeat;
  text-align: center;
  position: absolute;
  left: 22px;
  top: 0px;
}

.icon-photography::before {
  background-image: url("../img/icon/photography.png");
}

.icon-web-design::before {
  background-image: url("../img/icon/web design.png");
}

.icon-creativity::before {
  background-image: url("../img/icon/creativity.png");
}

.icon-seo::before {
  background-image: url("../img/icon/seo.png");
}

.icon-css::before {
  background-image: url("../img/icon/css.png");
}

.icon-digital::before {
  background-image: url("../img/icon/digital.png");
}

.services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1182px;
  margin: 0;
  padding: 0;
  margin-top: 64px;
}

.services-list-item {
  flex: 0 0 383px;
  position: relative;
  padding-left: 83px;
}

.services-list-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 98px;
}

.services-list-item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.services-list-item-description {
  margin: 14px 0 0 0;
}

.services-list-item-description, .team-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.team {
  margin-top: 88px;
}

.team-description {
  text-align: center;
  margin: 42px 130px 90px 130px;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.team-list-item-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.team-list-item-position {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: #999999;
  margin: 0;
  padding: 0;
  text-align: center;
}


/* SOCIALS */
.team-list-item {
  position: relative;
  /* transition: all 20s linear; */
}

.team-list-item-socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 197px;
  left: 69px;
}

.team-list-item-socials a {
  display: block;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(252, 227, 138);
  transition: all 200ms linear; 
}

.img-container {
  transition: all 200ms linear; 
}

.icon-facebook {
  background-image: url("../img/social/facebook.png");
  border-right: 1px solid rgb(243, 129, 129);
}

.icon-twitter {
  background-image: url("../img/social/twitter.png");
  border-right: 1px solid rgb(243, 129, 129);
}

.icon-pinterest {
  background-image: url("../img/social/pinterest.png");
  border-right: 1px solid rgb(243, 129, 129);
}

.icon-instagram {
  background-image: url("../img/social/instagram.png");  
}

.team-list-item::after {
  content: "";
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* TEAM ITEM HOVER */
.team-list-item:hover .img-container {
  transform: translate(-10px, -10px);
  background-image: linear-gradient(
    to top,
    #fce38a,
    #f38181
  );
}

.team-list-item:hover .team-list-item-img {
  opacity: 0.1;
}

.team-list-item:hover .team-list-item-socials {
  display: flex;
}

.team-list-item-socials-item a:hover {
  background-color: #95e1d3;
}

/* FOOTER */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(231, 231, 231);
  margin-top: 82px;
  height: 82px;
  margin-bottom: 5px;
}

.site-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.template-by {
  text-decoration: none;
  color: #f38181;
}

.subscribtion {
  display: flex;
  height: 40px;
}

.subscribtion-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  background-color: #95e1d3;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid rgb(231, 231, 231);
  width: 150px;
  height: 40px;
  text-align: center;
}

  .input-email {
  width: 230px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  border: 1px solid rgb(231, 231, 231);
  border-right: none;
  padding: 12px;
}


/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}